{% extends 'extends/bs_one_col.html' %}




{%block body%}

    <div class="container">
        <div class="jumbotron">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="/image" target="_blank">image clip</a>
                    <a href="#" class="btn btn-xs btn-success">HTML5</a>
                </div>
                <div class="panel-body">
                    <div>
                        在网页中粘贴图片，自动将图片上传至服务器，返回图片的公开链接。
                    </div>

                    <div>
                        便于书写博客时快速返回可供使用的图片地址
                    </div>
                </div>
            </div>

            <hr/>

            <h2>To be Continue...</h2>
        </div>
    </div>



{%endblock%}



{% block js %}
<script>
    require(['$'], function($){
        console.log($);
    })
</script>
{% endblock %}
